<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<!-- Include Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">		
</head>
<body>
	<div class="container">
		<h2>Login</h2>

		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="alert alert-danger">
			{% for message in messages %}
			{{ message }}
			{% endfor %}
		</div>
		{% endif %}
		{% endwith %}
	</div>
	<form method="post" action="{{ url_for('login') }}">
                <div class="form-group">
			<label for="email">Email:</label>
			<input type="email" name="email" class="form-control" id="email" required>
		</div>
		<div>
			<label for="password">Password:</label>
			<input type="text" name="password" class="form-control" id="email" required>
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
		<a href="{{ url_for('registration') }}" class="btn btn-secondary">Register</a>
	</form>
</body>
</html>
